
/*navigation*/

@import url(http://fonts.googleapis.com/css?family=Open+Sans:700italic,300,700,400);

@import url('http://fonts.googleapis.com/css?family=Lato:300');

@import url(http://weloveiconfonts.com/api/?family=entypo);

/* entypo */
[class*="entypo-"]:before {
  font-family: 'entypo', sans-serif;
}

*{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  background: #eee;
  width: 100%;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  color:#111;
}

ul{
  list-style: none;
  margin: 0;
  padding: 20px 10px;
  font-size:15pt;
}

ul li{
  padding: 5px 20px;
}

nav a{
  border-bottom: solid 1px rgba(255,255,255,0.2);
  padding: 5px 0;
  text-decoration: none;
  color: #eee;
  width: 100%;
  
  transition: all .4s ease;  
}

nav a:hover{
  color: #F1C40F;
  padding-left: 10px;
  
}


nav li:last-of-type a{
  border: 0;
}

nav span{
  margin-right: 10px;
}

header a{
  text-decoration: none;
  color: #333;
  float: left;
  font-size: 2em;
  padding: 5px 20px;
}

nav{
  background: #3e3e3e;
  height: 100%;
  left: 0;
  overflow: hidden;
  position: fixed;
  width: 0;
  z-index: 4;
}

.abrir, .fechar{
  line-height: 50px;
  background: #3e3e3e;
  color: rgba(255,255,255,0.7);
  -webkit-transition: color .3s ease-in;
  -moz-transition: color .3s ease-in;
  -ms-transition: color .3s ease-in;
  -o-transition: color .3s ease-in;
  transition: color .3s ease-in;
}

.abrir:hover{
  color: #f39c12;
}

.fechar{
  display: none;
  background: #f39c12;
  color: rgba(0,0,0,0.7);
  
}

.fechar > span{
  display: block;
  padding: 10px 0px;
}

nav:target{
  width: 20%;
}

nav:target + .content{
  width: 80%;
}

nav:target + .content .abrir{
  display: none;
}

nav:target + .content .fechar{
  display: block;
}

nav:target + .content header{
  left: 20%;
}

.content{
  float: right;
  width: 100%;
  position: relative;
}

nav, .content{
  -webkit-transition: width .3s ease-in-out;
  -moz-transition: width .3s ease-in-out;
  transition: width .3s ease-in-out;
}

header h1{
  margin: 0;
  padding: 0;
  margin-left: 50px;
  padding-left: 30px;
  position: absolute;
  line-height: 60px;
  z-index: -9999;
  overflow: hidden;
}

section#main{
  position: relative;
  padding: 60px 85px 0 85px;
  top: 40px;
}

section#main p{
  line-height: 1.6em;
  overflow: hidden; /* fix for Firefox */
  break-inside: avoid-column;
  -webkit-column-break-inside: avoid;  

  -webkit-column-count: 3;
  -webkit-column-gap: 4%;
}

.input-group {
    position:relative;
    margin:10px;
}

.glyphicon-user {
    font-size: 12pt;
    margin: 0px;
}
.user {
    margin:2%;
    margin-left:10px;
}

section {
    z-index:-4;
}
th {
  background-color:#910029;
  color:white;
}


/*lightbox*/




a.lightbox img {
height: 150px;
border: 3px solid white;
box-shadow: 0px 0px 8px rgba(0,0,0,.3);
margin: 94px 20px 20px 20px;
}

/* Styles the lightbox, removes it from sight and adds the fade-in transition */

.lightbox-target {
position: fixed;
top: -100%;
width: 100%;
min-height:auto;
background-color:black;
width: 100%;
opacity: 0;
-webkit-transition: opacity .5s ease-in-out;
-moz-transition: opacity .5s ease-in-out;
-o-transition: opacity .5s ease-in-out;
transition: opacity .5s ease-in-out;
overflow: hidden;
}

/* Styles the lightbox image, centers it vertically and horizontally, adds the zoom-in transition and makes it responsive using a combination of margin and absolute positioning */


/* Styles the close link, adds the slide down transition */

a.lightbox-close {
display: block;
width:50px;
height:50px;
box-sizing: border-box;
background: white;
color: black;
text-decoration: none;
position: absolute;
top: -80px;
right: 0;
-webkit-transition: .5s ease-in-out;
-moz-transition: .5s ease-in-out;
-o-transition: .5s ease-in-out;
transition: .5s ease-in-out;
}

/* Provides part of the "X" to eliminate an image from the close link */

a.lightbox-close:before {
content: "";
display: block;
height: 30px;
width: 1px;
background: black;
position: absolute;
left: 26px;
top:10px;
-webkit-transform:rotate(45deg);
-moz-transform:rotate(45deg);
-o-transform:rotate(45deg);
transform:rotate(45deg);
}

/* Provides part of the "X" to eliminate an image from the close link */

a.lightbox-close:after {
content: "";
display: block;
height: 30px;
width: 1px;
background: black;
position: absolute;
left: 26px;
top:10px;
-webkit-transform:rotate(-45deg);
-moz-transform:rotate(-45deg);
-o-transform:rotate(-45deg);
transform:rotate(-45deg);
}

/* Uses the :target pseudo-class to perform the animations upon clicking the .lightbox-target anchor */

.lightbox-target:target {
opacity: .9;
top: 0;
bottom: 0;
}

.lightbox-target:target img {
max-height: 100%;
max-width: 100%;
}

.lightbox-target:target a.lightbox-close {
top: 0px;
}


.form {
    background-color:white;
    max-height:150px;
    width:50%;
    margin: auto;
    position: absolute;
    top: 0;
    left:0;
    right:0;
    bottom: 0;
    border: 3px solid gray;
    box-shadow: 0px 0px 8px rgba(0,0,0,.3);
    box-sizing: border-box;
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
}

.form form {
 left:30%;
 top:23%;
 position:absolute;
}

form input {
  margin:5px;
}

.goBtn {
  border-bottom:none;
}

.goBtn :hover{
  padding-left: none;
  transition:none;
}