
table, th {
    padding:1%;
}
table {
    width:100%;
    border:solid black 1px;
}

th {
    text-align:center;
    border:solid black 1px;
    background-color:crimson;
    
}

tr {
    
}

td {
    border:solid black 1px;
    padding:5px;
    padding-left:15px;
}